<% content_for :page_subtitle do %>
  Friends
<% end %>
<div>
  <%= render 'people/search' %>
  <%= render @user.friends %>
</div>
<%= form_for(@friend, url: friends_path, layout: :horizontal) do |friend_form| %>
  <%= friend_form.text_field :name %>
  <%= friend_form.email_field :email %>
  <%= friend_form.submit class: "btn btn-primary" %>
<% end -%>
  
