<div class="table-responsive">
	<table class="table">
		<tr> <%# Table Header Row %>
			<th>name</th>
			<th>email</th>
			<th>#</th>
		</tr>

<% @user.friends.each do |pal| -%>
		<tr>
			<td><%= pal.name %></td>
			<td><%= pal.email %></td>
			<td><%= button_to "Pray", "#" %>
				<%= button_to "Drop", "#" %></td>
		</tr>
<% end -%>
<% form_for @user.friends.new, layout: :inline do |friend_form| %>
		<tr>
			<td><%= friend_form.text_field :name %></td>
			<td><%= friend_form.email_field :email %></td>
			<td><%= friend_form.submit class: "btn btn-primary" %></td>
		</tr>
	</table>
</div>
