<div class="row">
  <div class="col-sm-6 col-md-5 col-lg-4">
    <div class="btn-group btn-group-justified"> 
      <div class="btn-group">
        <a role="button" class="btn btn-warning" href="<%= group_path(group) %>">Members</a>
      </div>
      <%= button_to "Join", join_group_path(group), method: "post", form_class: 'form-inline btn-group', class: 'btn btn-primary' %>
      <div class="btn-group">
        <button role="button" class="btn btn-success" data-toggle='modal' data-target= '.group-modal' data-group="<%= group.id %>">
          <%= icon :pencil, library: :font_awesome, class: "fa-lg" %> Edit
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-7 col-lg-8">
    <%= panel group.name %>
  </div>
</div>
