<div class="row">
  <div class="col-sm-2"> 
    <%= button_to "Members", group, method: "get", form_class: 'form-inline', class: 'btn btn-warning btn-block' %>
  </div>
  <div class="col-sm-2">
    <%= button_to "Join", join_group_path(group), method: "post", form_class: 'form-inline', class: 'btn btn-block btn-primary' %>    
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-success btn-block" data-toggle='modal' data-target= '.group-modal' data-group="<%= group.id %>"> 
      <%= icon :pencil, library: :font_awesome, class: "fa-lg" %> Edit
    </button>
  </div>
  <div class="col-sm-6">
    <%= panel group.name %>
  </div>
</div>
