<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand pb-navbar-brand" href="/">PRAYBOOK</a>
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pb-navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar" style="background-color:#ccc"></span>
      <span class="icon-bar" style="background-color:#ccc"></span>
      <span class="icon-bar" style="background-color:#ccc"></span>
     </button>
   </div>
    <% if !user_signed_in? && current_page?(root_path)%>   <%# If new user display login information on home page%>
    <div class="collapse navbar-collapse in" id="pb-navbar-collapse">
      <%= form_for :user, {url: session_path(:user), layout: :inline, html: {class: "navbar-form navbar-right"}} do |login_form| %>
        <%= login_form.email_field :email, hide_label: true, placeholder: "email", autofocus: true, autocomplete: "email" %>
        <%= login_form.password_field :password , skip_label: true, placeholder: "password", autocomplete: "off" %>
        <%= login_form.submit "LOG IN" %>
      <% end %>    <%# End login_form do block    %>
    <% else %>     <%# If logged on display links %>
   <div class="collapse navbar-collapse" id="pb-navbar-collapse">
     <ul class="nav navbar-nav">
      <%= pb_menu_item "prayers" %>
      <%= pb_menu_item "praises" %>
      <%= pb_menu_item "users", path: user_path, display: "Profile" %>
      <%= pb_menu_item "groups" %>
      <%= pb_menu_item "friends" %>
      <li class="nav-item">
         <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link pb-navbar-link") %>
      </li>
      </ul>

    <% end %>
    </div>
  </div>
</nav>
