<div class="row">
<% unless prayer.person.becomes(User) == @user || prayer.person.name.nil? %>
  <div class="col-sm-12"><p class="lead"> <%= prayer.person.name %> is praying for you that</p> </div>
</div>
<div class="row">
<% end %>
  <div class="col-sm-3 col-lg-2">
    <div class="btn-group btn-group-justified" action="<%=complete_prayer_path(prayer)%>">
      <%= button_to "\u2714 Done" , complete_prayer_path(prayer), method: :post, form_class: "btn-group", class: 'btn btn-danger' %>  
      <div class="btn-group">
        <button role="button" class="btn btn-success" data-toggle='modal' data-target= '.prayer-modal' data-prayer="<%= prayer.id %>"> 
          <%= icon :pencil, library: :font_awesome, class: "fa-lg" %> Edit
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10">
    <%= panel prayer.title %>
  </div>
</div>
