<div class="row">
<% unless prayer.person.becomes(User) == @user && prayer.person.name.present? %>
<div class="col-sm-12"> <%= prayer.person.name %> is praying for you that </div>
<div class="row">
<% end %>
<div class="col-sm-2 col-xl-3"> 
  <div class="row">
    <%= button_to "\u2714 Complete", complete_prayer_path(prayer), method: :post , class: 'btn btn-danger btn-block'%>  
  </div>
  <div class="row">
    <button type="button" class="btn btn-success btn-block" data-toggle='modal' data-target= '.prayer-modal' data-prayer="<%= prayer.id %>"> 
      <%= icon :pencil, library: :font_awesome, class: "fa-lg" %> Edit
    </button>
  </div>
</div>
<div class="col-sm-10 col-xl-9">
  <%= panel prayer.title %>
</div>
</div>
