<!DOCTYPE html>
<html>
<head>
  <title>Praybook | <%= yield :page_subtitle %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<%= render 'shared/nav/top' %>

	<%= yield %>

<div class="row" style="height: 70px;">
	<div class="col-sm-12">&nbsp;</div>
</div>
</div>
<%= render 'shared/nav/bottom' %>
</body>
</html>
